


//-----Color
$primary-color:         	#ffffff;
$brand-color:				#fe1a50;
$dark:				        #1b1d22;
$gray-light:				#878a8e;
$gray-color:				#94969b;



//-----Typography




//---- font family ----	

$lato:                     'Lato', sans-serif;
$poppins:                  'Poppins', sans-serif;


//----p style----	
		
$p-font-size:				16px;
$p-line-height:				25px;
$p-font-weight:				normal;
$p-font-family:				'Lato', sans-serif;


//----a style----	
		
$a-text-decuration:			none;
$a-color:					inherit;

//----a-hover style----	
		
$a-hover-color:				inherit;